<table>
  <tr>
    <th>Scheduled End Date</th>
    <td><%= release.end_date %></td>
    <th> </th>
    <th>Estimated Completion <br/> of
      <a href="/projects/<%= @project.identifier %>/cards/<%= card_number release_parameter %>" class="card-link-1" onmouseover="new Tooltip(this, event)">
        <%= card_description release_parameter %>
      </a>
    </th>
    <th>Required <br/> Iterations</th>
    <th>Calculated Development End Date <br/> Based on <%= release.days_in_iteration %> Day Iterations</th>
  </tr>
  <tr>
    <th>Completed Story Points</th>
    <td><%= release.completed_story_points %></td>
    <th> </th>
    <td> Average velocity of <br/> last 3 iterations (<%= "%.2f" % release.last_3_average %>)</td>
    <td><%= release.remaining_iters :last_3_average %></td>
    <td><%= release.completion_date :last_3_average %></td>
  </tr>
  <tr>
    <th>Remaining Story Points</th>
    <td><%= release.remaining_story_points %></td>
    <th> </th>
    <td> Average velocity of <br/> all iterations (<%= "%.2f" % release.average_velocity %>)</td>
    <td><%= release.remaining_iters :average_velocity %></td>
    <td><%= release.completion_date :average_velocity %></td>
  </tr>
</table>